body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    background-image: linear-gradient(45deg, rgba(143, 64, 240,0.2) 0%, rgba(143, 64, 240,0.2) 16.667%,rgba(124, 44, 236,0.2) 16.667%, rgba(124, 44, 236,0.2) 33.334%,rgba(161, 85, 244,0.2) 33.334%, rgba(161, 85, 244,0.2) 50.001%,rgba(198, 125, 252,0.2) 50.001%, rgba(198, 125, 252,0.2) 66.668%,rgba(180, 105, 248,0.2) 66.668%, rgba(180, 105, 248,0.2) 83.335%,rgba(106, 24, 232,0.2) 83.335%, rgba(106, 24, 232,0.2) 100.002%),linear-gradient(22.5deg, rgba(143, 64, 240,0.2) 0%, rgba(143, 64, 240,0.2) 16.667%,rgba(124, 44, 236,0.2) 16.667%, rgba(124, 44, 236,0.2) 33.334%,rgba(161, 85, 244,0.2) 33.334%, rgba(161, 85, 244,0.2) 50.001%,rgba(198, 125, 252,0.2) 50.001%, rgba(198, 125, 252,0.2) 66.668%,rgba(180, 105, 248,0.2) 66.668%, rgba(180, 105, 248,0.2) 83.335%,rgba(106, 24, 232,0.2) 83.335%, rgba(106, 24, 232,0.2) 100.002%),linear-gradient(0deg, rgba(143, 64, 240,0.2) 0%, rgba(143, 64, 240,0.2) 16.667%,rgba(124, 44, 236,0.2) 16.667%, rgba(124, 44, 236,0.2) 33.334%,rgba(161, 85, 244,0.2) 33.334%, rgba(161, 85, 244,0.2) 50.001%,rgba(198, 125, 252,0.2) 50.001%, rgba(198, 125, 252,0.2) 66.668%,rgba(180, 105, 248,0.2) 66.668%, rgba(180, 105, 248,0.2) 83.335%,rgba(106, 24, 232,0.2) 83.335%, rgba(106, 24, 232,0.2) 100.002%),linear-gradient(90deg, rgb(179, 179, 179),rgb(96, 96, 96));
    color: #0d0d0d;
    font-family: Tahoma;
    font-size: 16px;
  }
  
h1, p {
    margin: 1em auto;
    text-align: center;
  }
  
  form {
    width: 150vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #d9d9d9;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  
  input, textarea {
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    color: #ffffff;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #d9d9d9;
    border-color: white;
    color: #0d0d0d;
    min-width: 300px;
  }
  
  input[type="file"] {
    padding: 1px 2px;
  }

  input[placeholder] {
    color: #595959;
  }